.indent{
    text-indent: 30px;
}

h1{
    text-align: center;
}

footer{
    font-size: small;
}

.stagedirections{
    font-style: italic;
    font-weight: lighter;
}
p{
    font-family: 'Courier New', Courier, monospace
}
.para1{
    line-height: 10px;
}

.para2{
    line-height: 10px;
}

.para3{
    line-height: 10px;
}