body{
    background-color: rgb(254, 255, 204);
    margin-left: 40px;
    margin-right: 300px;
}

p{
    font-family: baskerville-urw, serif;
    font-size: 18pt;
}

h2{
   font-family:  operetta-18, serif;
   font-size: 30pt;
}

.header{
    font-family: operetta-52, serif;
    font-size: 120pt;
    margin-bottom: 0;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    background-color: rgb(254, 255, 204);
    text-align: bottom;
    margin-bottom: -500px;
}

.secondlist{
    margin-left: 465px;
    margin-top: 120px;
}

.movedown{
    margin-top: 350px;
}

li{
    padding: 10px 30px 10px 10px;
}

li .font{
    padding-top: 100px;
}

.underline{
    text-decoration: none;
}

:visited{
    color: rgb(0, 88, 0);
}

:active{
    color: rgb(0, 43, 0);
}

.bold{
    font-weight: 900;
}

.font{
    font-family:  operetta-18, serif;
   font-size: 25pt;
   color: rgb(0, 88, 0);
   margin-top: 100px;
}

.font:active{
    color: rgb(0, 43, 0);
}

.introimg{
    float: left;
    width: 30%;
}

.habitatimg{
    float: right;
    width: 20%;
}

.eggsimg{
    float: left;
    width: 20%;
    margin-right: 10px;
}

.tadpoleimg{
    float: right;
    width: 20%;
}

.metaimg{
    float: left;
    width: 20%;
}

.lifecyclefrogimg{
    float: right;
    width: 20%;
}

.matingimg{
    float: left;
    width: 20%;
}

.matingpara{
    margin-bottom: 100px;
}

.defenseimg{
    float: right;
    width: 23%;
}

@media (max-width: 700px){
    p{font-size: 20pt;}
    body{
        margin-right: 10px;
        margin-left: 30px;
    }
    .header{
        font-size: 80pt;
        margin-left: -20px;
    }
    .movedown{
        margin-top: 300px;
    }
    .defenseimg{
        width: 50%;
    }
    .matingimg{
        width: 50%;
    }
    .lifecyclefrogimg{
        width: 50%;
    }
    .metaimg{
        width: 40%;
    }
    .tadpoleimg{
        width: 50%;
    }
    .introimg{
        width: 60%;
    }
    
    .habitatimg{
        width: 50%;
    }
    
    .eggsimg{
        width: 50%;
    }
    .secondlist{
        margin-left: -20px;
        margin-top: 175px;
    }
    .font{
       font-size: 15pt;
    }
    li .font{
        padding-top: 0;
    }
}