body{
    background-color: lightyellow;
    margin: 3%;
    font-family: sofia, sans-serif;
    margin-right: 47%;
    margin-bottom: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


